
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, #8c9eed, #d5d5f5, #f19ff7);
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  border: 2px solid rgb(217, 210, 210);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from{
    transform: perspective(1000px) rotateY(0deg);
  }to{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
 transform:
  rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
  translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.banner .content  {
  font-family: fantasy;
  color: #414c81;
}
 

